<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
</head>

<body>

<div id="content">
    <h1>Outfirst Insights</h1>
    <p>This is the work-in-progress template to render for email</p>
    <p><a href='{{ site_name }}'> {{ site_name }} </a></p>

    {% for table in tables -%}
    <div id='table-{{loop.index}}' style='border-collapse: collapse;'>
        <p>This table is for: {{ table.description }}</p>
        <table>
            <tr style='background: #598bf2'>
            {% for header in table.headers -%}
            <th style='color: white; border: 1px solid white; padding: 10px; font-family: sans-serif'>{{ header }}</th>{% endfor %}
            </tr>
        {% for row in table.rows -%}
            <tr>
            {% for cell in row -%}
                <td style='border: 1px solid #bbcef4;'>{{cell}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
    {% endfor %}

</div>

<p>Want to unsubscribe?  Send us an email and we'll remove you. <a href="mailto:someone@example.com?Subject=Unsubscribe" target="_top"> FILL OUT EMAIL</a>
</body>
</html>