<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>  <!-- Do emails use <title>? -->
</head>

<body>

<div id="content">
    <h1>Outfirst Insights</h1>
    <p>This is the work-in-progress template to render for email</p>

    <table>
        <tr>
        {% for header in headers %}
        <th>{{ header }}</th>{% endfor %}
        </tr>
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            <td>{{cell}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>